@model TrashCollector.Models.Customer
@{
    ViewBag.Title = "SuspendService";
}

<h2>SuspendService</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.ServiceEndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ServiceEndTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ServiceEndTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ServiceStartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
             @Html.EditorFor(model => model.ServiceStartTime, new { htmlAttributes = new { @class = "form-control"}})
            @Html.ValidationMessageFor(model => model.ServiceStartTime, "", new { @class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default bg-primary" />
        </div>
    </div>
}